import {CompNameApi} from "./generated/comp-name";

let state = BigInt(0);

export const compNameApi: CompNameApi = {
    add(value: bigint) {
        console.log(`Adding ${value} to the counter`);
        state += value;
    },
    get() {
        return state;
    }
};
